.first_section {
  width: 1111px;
  padding: 0;
  margin: 0 auto;
  background-image: url(./../image/ourcollection.png),
    linear-gradient(to bottom, #fff, #aaa);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 370px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 59px;

  .card {
    max-width: 255px;
    text-align: center;

    &__img {
      width: 100%;
      margin-bottom: 71px;
    }

    &__title {
      margin: 0;
      font-family: "Fraunces", "Arial", sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: $main-black;
      margin-bottom: 24px;
    }

    &__text {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: $main-black;
    }
  }
}

@media only screen and (max-width: 768px) {
  .first_section {
    width: 768px;
  }

  .cards {
    flex-direction: column;
  }

  .cards .card {
    display: flex;
    max-width: unset;
    margin: 0;
    margin-bottom: 32px;

    &__bottom {
      width: 282px;
      text-align: left;
    }

    &__text {
      max-height: 50px;
      overflow: hidden;
    }

    &__img {
      margin-bottom: 0;
    }
  }
}

// 600px uchun
@media only screen and (max-width: 600px) {
  .card__img {
    width: 150px;
    object-fit: cover;
    object-position: center;
  }
}

// mobile first
@media only screen and (min-width: 600px) {
  // ....
}
